### For those unfamiliar with Python, and pip, use this command in CMD.exe from this folder "pip install -r requirements.txt"
### This of course assumes you have both python and pip installed

google-api-python-client
google_auth_oauthlib
oauth2client
httplib2
cursor